# Classwork Lecture 4

In this exercise, you'll get familiar with the following basics of python:

- String Functions
- If Else Statements
- For Loops

## Student Details

- Name:
- Division: 
- Roll:

# String Functions

Python has a set of built-in methods that you can use on strings. Please complete the following short exercise to learn more about the different string functions. 

[See Reference Library of String Functions](https://www.w3schools.com/python/python_ref_string.asp)

## Part 1

In [1]:
# Name


#Empty String


#String with numeric values in it

In [2]:
# Q1 A Create and print a variable called "my_name"that stores your name in all lower case
my_name = "niramay"

In [3]:
# Q1 B Capitalize the first letter of "my_name" and then print it
my_name.capitalize()

'Niramay'

In [6]:
# Q1 C Capitalize all letters of "my_name" and then print it
my_name = my_name.upper()
my_name

'NIRAMAY'

In [15]:
my_name.title()

'Niramay'

## Part 2

In [8]:
# Q2 A Create and print a variable called "my_favorite_fruit" 
# and make it store "I love apples, apples are my favorite fruit"

my_favorite_fruit = "I love apples, apples are my favorite fruit"
my_favorite_fruit

'I love apples, apples are my favorite fruit'

In [9]:
# Q2 B Print whether "my_favorite_fruit" ends with "fruit" 
my_favorite_fruit.endswith("fruit")

True

In [10]:
# Q2 C Count and print the number of times the value "apple" appears in the string
my_favorite_fruit.count("apples")

2

In [13]:
# Q2 D Replace "apple" with "banana" in "my_favorite_fruit"
my_favorite_fruit = my_favorite_fruit.replace("apples","banana")
my_favorite_fruit

'I love banana, banana are my favorite fruit'

In [14]:
# Q2 E Convert the first character of each word in "my_favorite_fruit" to upper case
my_favorite_fruit = my_favorite_fruit.title()
my_favorite_fruit

'I Love Banana, Banana Are My Favorite Fruit'

In [16]:
# Q2 F Split "my_favorite_fruit" on "," and print the result

my_favorite_fruit = my_favorite_fruit.split(", ")
my_favorite_fruit

['I Love Banana', 'Banana Are My Favorite Fruit']

# If Else Statements

[See Reference](https://info370a-w19.github.io/python-basics/logic-and-conditionals.html)

In [19]:
#Mother Older 
def is_mother_older(mother_age, father_age):
    if mother_age>father_age:
        print("mother is older than father")
    else:
        print("mother is not older to father")

In [20]:
is_mother_older(40,45)

mother is not older to father

In [25]:
#Pass Fail accepts a grade and if grade
#is grater than 35 sgould print pass
#is just 35 just passs
#less tahn 35 fail

def pass_fail(grade):
    if (grade>35):
        print("pass")

    elif grade == 35:
        print("just pass")

    else:
        print("failed")

In [26]:
pass_fail(24)
pass_fail(35)
pass_fail(40)

failed
just pass
pass

# Create a function that accepts the current temperature and returns "is hot" if the temperature is greater than 24 and returns "is not hot" if the temperature is equal to or below 24

In [28]:
def is_hot_or_not(temperature):
    if temperature>24:
        print("hot")
    else:
        print("cold")

In [29]:
is_hot_or_not(35)
is_hot_or_not(20)

hot
cold

# Grades

- A Grade: 90 and above
- B Grade: 70 and 89
- C Grade: 50 and 69
- D Grade: 35 and 49
- F Grade: Anything below 35

In [31]:
def grader(score):
    
    if score>=90:
        return "A"
    elif score>=70 and score<=89:
        return "B"
    elif score>=50 and score<=69:
        return "C"
    elif score>=35 and score<=49:
        return "D"
    else:
        return "F"

In [33]:
niramay_grade = grader(90)
niramay_grade

'A'

In [34]:
niramay_grade = grader(88)
niramay_grade

'B'

In [36]:
niramay_grade = grader(66)
niramay_grade

'C'

In [38]:
niramay_grade = grader(40)
niramay_grade

'D'

In [39]:
niramay_grade = grader(24)
niramay_grade

'F'

In [13]:
# Create a function called "goldilocks" that accepts a numeric temperature value 
# and returns "This porridge is too hot!" if the temperature value is >= 80
# and returns "This porridge is just right" if the temperature value is between 40 and 79
# and returns "This porridge is too cold" if the temperature value is below 40

# For Loops

In [40]:
# Create a list of your favorite movies
movies = ["dhoom 2" , "don" , "don 2", "vip 2 "]
movies

['dhoom 2', 'don', 'don 2', 'vip 2 ']

In [41]:
# Create a for loop that prints each of your favorite movies with the text "I love "


for movie in movies:
    print("I Love" , movie)

I Love dhoom 2
I Love don
I Love don 2
I Love vip 2

In [43]:
# Create a list of your favorite cars and favorite colors
cars = ["Rolls Royce", "Range Rover", "Mustang", "Fortuner"]
colors = ["Silver", "White" ,"Black"]

In [46]:
# Create a nested for loop that prints your favorite car names for each favorite color
for color in colors:
    for car in cars:
        print(color, car)

Silver Rolls Royce
Silver Range Rover
Silver Mustang
Silver Fortuner
White Rolls Royce
White Range Rover
White Mustang
White Fortuner
Black Rolls Royce
Black Range Rover
Black Mustang
Black Fortuner

# Create a function that accepts a list of colors and a list of cars  and then returns the following

- "Yes it exists" if the car combination "Speed Red Mazda" is possible
- "Does not exist" for every other car combination

In [65]:
def speed_red_mazda_exixts(cars, colors):
    
    for color in colors:
        if color == "speed red":
            for car in cars:
                if car == "Mazda":
                    return "it exists"
    return "does not exists"

In [66]:
car_list = ["ferrai", "FORD"]
color_list = ["red", "lue"]
speed_red_mazda_exixts(car_list,color_list)

'does not exists'

In [68]:
car_list = ["Mazda", "FORD"]
color_list = ["red", "speed red"]
speed_red_mazda_exixts(car_list,color_list)

'it exists'